<h1>Editing Comment</h1>

<%= render 'form', comment: @comment %>
<br>
<%= link_to 'Show', @comment, class: "btn btn-outline-primary" %> |
<%= link_to 'Back', comments_path, class: "btn btn-outline-primary" %>
